appdirs==1.4.3
boto==2.46.1
bz2file==0.98
cloudpickle==0.2.2
docopt==0.6.2
gensim==2.1.0
jsonable==0.3.1
jsonschema==2.6.0
mwcli==0.0.2
mwtypes==0.3.0
mwxml==0.3.1
numpy==1.12.1
packaging==16.8
para==0.0.5
pyparsing==2.2.0
requests==2.14.2
scipy==0.19.0
six==1.10.0
smart-open==1.5.2
tornado==4.5.1
